/* Modal wrapper */
.waldiez-studio-flow-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0 /50%);
    z-index: 1000;
}

/* Modal content */
.waldiez-studio-flow-modal-content {
    width: 100%;
    max-width: 640px;
    max-width: 60vw;
    background: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0 0 0 20%);
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    border: 1px solid var(--border-color);
}

/* Header */
.waldiez-studio-flow-modal-header {
    border-bottom: 1px solid var(--border-color);
    background: var(--primary-alt-color);
    text-align: center;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.waldiez-studio-flow-modal-header h2 {
    flex-grow: 1;
    margin: 0;

    /* Adjust for the close button 2 * 12 + 18 */
    margin-right: -42px;
    padding: 12px 0;
    font-weight: bold;
    font-size: 18px;
}

.waldiez-studio-flow-modal-header .modal-close-btn {
    padding: 12px;
    border: none;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

/* flex-grow: 1; */

/* Messages container */
.waldiez-studio-flow-messages-container {
    flex: 1;
    padding: 12px;
    background: var(--primary-alt-color);
    border-bottom: 1px solid var(--border-color);
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--text-color);
    max-height: 480px;
    max-height: 50vh;
}

.waldiez-studio-flow-messages-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.waldiez-studio-flow-messages-container li {
    margin-bottom: 8px;
    color: var(--text-color);
}

.waldiez-studio-flow-messages-container li:last-child {
    margin-bottom: 0;
}

/* Prompt view */
.waldiez-studio-flow-prompt-view {
    padding: 12px;
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

/* Input container */
.waldiez-studio-flow-input-container {
    display: flex;
    padding: 12px;
    background: var(--primary-alt-color);
    border-top: 1px solid var(--border-color);
}

.waldiez-studio-flow-input-container input[type='text'] {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background: var(--input-background);
    color: var(--input-color);
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.waldiez-studio-flow-input-container input[type='text']:disabled {
    background: var(--primary-alt-color-hover);
    color: var(--border-color);
    cursor: not-allowed;
}

.waldiez-studio-flow-input-container button {
    margin-left: 8px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.waldiez-studio-flow-input-container button:disabled {
    background: var(--border-color);
    cursor: not-allowed;
}

.waldiez-studio-flow-input-container button:hover:not(:disabled) {
    background: var(--primary-color-hover);
}

.waldiez-studio-flow-input-container button svg {
    fill: 'currentColor';
}

body.waldiez-light .waldiez-studio-flow-input-container button svg {
    filter: invert(1);
}

body.waldiez-light .waldiez-studio-flow-input-container button:disabled svg {
    filter: none;
}
