.waldiez-wrapper-no-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

.waldiez-wrapper-no-flow span {
    font-style: italic;
    font-weight: bold;
}
