# ignore everything
**/*
# but not these ...
!src/
!scripts/
!.husky/install.mjs
!public/*
!waldiez_studio
waldiez_studio/static/*
waldiez_studio/files/*
**/__pycache__/
!__mocks__/
!vite.plugins/
!package.json
!bun.lockb
!bun.lock
!eslint.config.mjs
!vite.config.ts
!vitest.setup.tsx
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!index.html
!pyproject.toml
!requirements/main.txt
!LICENSE
!README.md
