.local/
.venv/
.cache/
build/
dist/
site/
waldiez_studio/static/
.env
.yarn/
public/vs/
public/monaco_latest_version
node_modules/
reports/
waldiez_out/
**/logs/
**/tmp/
**/documents/
*.log
*.db
*.sqlite3
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.tsbuildinfo
**/*.coverage*
**/*.ffs_db
