**/.local/
**/.venv/
**/.cache/
**/build/
**/dist/
**/site/
waldiez_studio/static/
waldiez_studio/files/
.env
**/.yarn/
public/*
!public/files/
**/node_modules
**/reports/
**/coverage/
**/lcov.info
waldiez_out/
**/logs/
**/tmp/
**/documents/
*.log
*.db
*.sqlite3
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.tsbuildinfo
**/*.coverage*
**/*cache
**/*db
