.snackbar {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10001;
    padding: 15px;
    margin: 10px;
    color: #fff !important;
    border-radius: 5px;
    min-width: 200px;
    max-width: 320px;
    word-wrap: break-word;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.snackbar.show {
    display: block;
}

.snackbar .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
}

.snackbar.error {
    background-color: #d32f2f;
}

.snackbar.success {
    background-color: #38903d;
}

.snackbar.warning {
    background-color: #fbc02d;
    color: #000 !important;
}

.snackbar.info {
    background-color: #1866b3;
}

.snackbar.error .close:hover {
    background-color: #b71c1c;
}

.snackbar.success .close:hover {
    background-color: #2e7d32;
}

.snackbar.warning .close:hover {
    background-color: #f9a825;
}

.snackbar.info .close:hover {
    background-color: #0d47a1;
}

.snackbar.with-details details {
    margin-top: 10px;
    max-height: 120px;
    overflow-y: auto;
}

.snackbar.with-details details summary {
    cursor: pointer;
    font-weight: bold;
}

.snackbar.with-details details div {
    margin-top: 5px;
    font-size: 0.9em;
}
